body {
  padding-top: 70px;
  padding-bottom: 30px;
  height: 100%;
  color: #585A88;
}

html
{
  height:100%;
}

.alert
{
  z-index: 1000;
  position: absolute;
  bottom: 0;
  width: 30%;
  margin-left: 20%;
  margin-right: 20%;
}
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-fixed-bottom {
  bottom: 15px;
  margin: 5px 0;
}

.myList
{
  max-height: 250px;
  overflow-y: auto;
}

.page
{
  min-height: 100%;
  height: auto;
  margin: 0 0 -60px;
  padding: 0 0 60px;
}

#footer
{
  height: 60px;
  right: 20%;
  position: absolute;
  bottom: 3px;
  margin-top: 60px;
}

.form-group
{
  margin: 20px 0;
}

.formStyle .form-group
{
  vertical-align: top;
}

.formStyle input .
{
  width: 200px;
}

.formStyle button
{
  width: auto;
}

.formStyle span.help-block
{
  width: 200px;
}
.formStyle select
{
  width: 200px;
  margin-bottom: 10px;
}

.sumUp
{
  width:19%;
  position: fixed;
  background-image: -webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%);
  background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #2b669a;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
  z-index: 100;
  float: right;
  height: 400px;
  right: 0;

  text-shadow : 0 1px 0 rgba(255, 255, 255, .4);    
  padding: 0px 10px;
  color: white;
}

.out
{
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.sumUp:hover span.glyphicon-th-large{
  -webkit-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}
.sumUp a
{
  color: inherit;
}
.sumUp span {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);    
  padding: 0px 10px;
  color: white;
  word-wrap: break-word;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}



ul.source, ul.target {
  min-height: 50px;
  margin: 0px 25px 10px 0px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  list-style-position: inside;
}
ul.source {
  overflow: visible;
  border-color: #f8e0b1;
}
ul.target {
  border-color: #4E80B6;
  margin-top: 10px;
  margin-left: 15px;
}
.source li, .target li {
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.source li {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}
.target li {
  background-color: #ebf5e6;
  border: 1px solid #d6e9c6;
  color: #388A39;
  text-decoration: none;

}
.target li a
{
   color: #388A39;
   text-decoration: none;
}
.ui-sortable-dragging {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #bbb !important;
}
.ui-sortable-placeholder {
  height: 40px;
}
.source .ui-sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
}
.target .ui-sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
}

.dropZone
{
  vertical-align: top;
  font-weight: bold;
}


.dropZone span
{
  margin-right: 10px;
  font-size: x-large;
  color: #4E80B6;
}

#layerList
{
  height: 490px;
}

tr
{
  height: 75px;
}

td
{
  text-align: center;
  padding: 10px;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#428bca 0,#53A4EB 100%);
  background-image: linear-gradient(to bottom,#428bca 0,#53A4EB 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428bca', endColorstr='#53A4EB', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse {
  background-color: #FFF;
  border-color: #FFFFFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  text-shadow: 0 -1px 0 rgba(0, 61, 255, 0.25);
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}

.navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top,#074D6E 0,#2E72BB 100%);
  background-image: linear-gradient(to bottom,#074D6E 0,#2E72BB 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#074D6E', endColorstr='#2E72BB', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #FFF;
  background-color: #FFF;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}

.pt-page-2 button
{
  width: 150px;
}

#tree
{
  width: 60%;
  margin: 0 auto;
}

#tree input
{
  width: 100%;
  margin-bottom: 20px;
}

#refreshTree
{
  float: left;
  position: absolute;
  left: 0px;
}

#loaderP2
{
  margin: 15% 30%;
}

#usersTable
{
  width: 600px;
}

#usersTable thead tr
{
  height: 75px;
  border-style: solid;
  background-color: rgb(255, 255, 255);
}

#usersTable td, th {
  padding: 0 10px;
  border-style: solid;
  text-align: center;
}

#usersTable tr
{
  height: 75px;
  border-style: solid;
  background-color: rgb(233, 233, 233);
}

#usersTable tr:nth-child(even) 
{
  background-color: rgb(255, 255, 255);
}
#usersTable table
{
  margin: 20px auto;
  width: 800px;
}