body {
  padding-top: 70px;
  padding-bottom: 30px;
  height: 100%;
}

html
{
	height:100%;
}

.alert
{
  z-index: 1000;
  position: absolute;
  bottom: 0;
  width: 30%;
  margin-left: 20%;
  margin-right: 20%;
}
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-fixed-bottom {
  bottom: 15px;
  margin: 5px 0;
}

.myList
{
	max-height: 250px;
	overflow-y: auto;
}

.page
{
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer
{
	height: 60px;
  bottom: 3px;
  margin-top: 60px;
}

.sumUp
{
  position: fixed;
  background-color: red;
  z-index: 100;
  float: right;
  height: 400px;
  right: 0;
}

.out
{
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.sumUp:hover span{
  -webkit-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}

.sumUp span {
  padding: 0px 10px;
  color: white;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}