body {
  padding-top: 70px;
  padding-bottom: 30px;
  height: 100%;
}

html
{
	height:100%;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-fixed-bottom {
  bottom: 15px;
  margin: 5px 0;
}

.myList
{
	max-height: 250px;
	overflow-y: auto;
}

.page
{
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer
{
	height: 60px;
}